:root {
    --fs-xxl:1.6rem;
    --fs-xl:1.4rem;
    --fs-md:1.2rem;
    --fs-xs:1rem;
  }

.flex-box{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    font-size: var(--fs-xxl);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    background-color: #FF6F91;
    color: #FFF;
    /* flex-wrap: wrap; */
}
.items{
    margin: 1rem 1rem;
}
.items:last-child{
    /* border: 2px solid salmon; */
    position: absolute;
    right: 1rem;
    cursor: pointer;
    /* justify-self: flex-start; */
}
    @media screen and (max-width: 480px) {
        :root {
            --fs-xxl:1.2rem;
            --fs-xl:1rem;
            --fs-md:0.8rem;
            --fs-xs:0.7rem;
          }

        
}
@media screen and (max-width: 850px) {
    :root {
        --fs-xxl:1.3rem;
        --fs-xl:1.1rem;
        --fs-md:0.9rem;
        --fs-xs:0.7rem;
      }

    
}